<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwitchBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SwitchBoardOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E70D183F1C25FD2D00BFD600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70D18491C25FD2D00BFD600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CBDB011D1B20F500FE9E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CBDB0A1D1B20F600FE9E66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
